<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} &#151; Cam Images</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    -->
  </head>
  <body class="body">
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-12 my-4">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>
    <!--
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    -->
  </body>
</html>
