<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} &#151; Cam Images</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {% if 'FLASK_ENV'|getenv == 'development' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='cdn/bootstrap.css') }}" />
    {% else %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body class="body">

    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <a class="navbar-brand" href="/">
          <strong>Cam Images Project</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav text-center">
            <li class="nav-item"><a class="nav-link" href="/last">Last image</a></li>
            <li class="nav-item"><a class="nav-link" href="/list">Images list</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <div class="container">
        <div class="row">
          <div class="content col-12 my-4">
            <div class="debug">
              Mode: {% if 'FLASK_ENV'|getenv == 'development' %}
                dev
              {% else %}
                prod
              {% endif %}
            </div>
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>

    {% if 'FLASK_ENV'|getenv == 'development' %}
    <script src="{{ url_for('static', filename='cdn/jquery-3.5.1.slim.js') }}"></script>
    <script src="{{ url_for('static', filename='cdn/bootstrap.js') }}"></script>
    {% else %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% endif %}
  </body>
</html>
